@using IntranetGJAK.Tools
@model IEnumerable<IntranetGJAK.Models.File>

@{
    ViewData["Title"] = "Seznam souborù";
}

@section styles {
    <link asp-append-version="true" href="~/lib/datatables.net-dt/css/jquery.datatables.css" rel="stylesheet" />
}

<table id="filetable" class="display" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUploaded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uploader)
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td class="name">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="size">
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td class="date">
                @Html.DisplayFor(modelItem => item.DateUploaded)
            </td>
            <td class="uploader">
                @Html.DisplayFor(modelItem => item.Uploader)
            </td>
        </tr>
    }
</table>

@section scripts {
    <script asp-append-version="true" src="~/lib/datatables.net/js/jquery.datatables.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#filetable").DataTable({
                "order": [[2, "desc"]],
                "language": {
                    "sEmptyTable": "Tabulka neobsahuje žádná data",
                    "sInfo": "Zobrazuji _START_ až _END_ z celkem _TOTAL_ záznamù",
                    "sInfoEmpty": "Zobrazuji 0 až 0 z 0 záznamù",
                    "sInfoFiltered": "(filtrováno z celkem _MAX_ záznamù)",
                    "sInfoPostFix": "",
                    "sInfoThousands": " ",
                    "sLengthMenu": "Zobraz záznamù _MENU_",
                    "sLoadingRecords": "Naèítám...",
                    "sProcessing": "Provádím...",
                    "sSearch": "Hledat:",
                    "sZeroRecords": "Žádné záznamy nebyly nalezeny",
                    "oPaginate": {
                        "sFirst": "První",
                        "sLast": "Poslední",
                        "sNext": "Další",
                        "sPrevious": "Pøedchozí"
                    },
                    "oAria": {
                        "sSortAscending": ": aktivujte pro øazení sloupce vzestupnì",
                        "sSortDescending": ": aktivujte pro øazení sloupce sestupnì"
                    }
                }
            });
        });
    </script>
}